{% extends 'base.html' %}

{% block title %}Home - Flask Session{% endblock %}

{% block content %}
<section class="projects">
    <div class="container">
        <h2>My Personal Projects</h2>
    </div>
</section>
<section class="project-1">
    <div class="project-1-content">
        <h3>Student Web Portal Application</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, minima aspernatur sapiente corporis vero molestias ducimus neque odit eaque nostrum repudiandae eveniet consequuntur? Inventore ratione, distinctio placeat nemo laboriosam quia? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio ipsum ratione beatae nemo asperiores ducimus blanditiis, nam excepturi soluta explicabo ut? Accusantium perferendis doloribus porro quo sunt beatae saepe architecto!</p>
    </div>
</section>
<section class="project-2">
    <div class="project-2-content">
        <h3>Arch Linux Shell Scripting Project</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime consequuntur ullam non. Eius voluptatum ipsa totam, provident dolores fugiat esse consectetur incidunt distinctio necessitatibus illum neque minima eaque odio qui! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, architecto illo? Omnis neque a sapiente ratione totam vel! Distinctio perferendis doloribus laborum consectetur a fuga quo tempora cum illum hic.</p>
    </div>
</section>
<section class="project-3">
    <div class="project-3-content">
        <h3>Digital Ocean System Setup</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ex ipsam consequatur itaque blanditiis nemo ipsa, sed non et, amet quam cumque est magnam odit praesentium, labore saepe sunt. Error! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus similique assumenda omnis voluptatem unde aspernatur atque, inventore ad id totam ratione officiis? Iste fuga esse numquam sit dignissimos repudiandae corrupti.</p>
    </div>
</section>
{% endblock %}
